.about {
    right: 100vw;
}

.about_grid_container {
    display: grid;
    grid-template-columns: repeat(8, 0.8fr);
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "about_title about_title about_title about_title . . . ."
        "text text text text . topicos topicos topicos"
        "text text text text . equipa equipa equipa"
        "text text text text . logos logos logos";
    padding: 0 10vw 10vh 7.5vw;
    height: 100%;
    gap: 5px;
    box-sizing: border-box;
}

.about_title {
    grid-area: about_title;
}

.about_text {
    grid-area: text;

    font-size: 2.22vh;
    line-height: 2.8vh;
}

.about_text>p {
    margin: 8px 0px 0px 0px;
}


/*------------------------- TÓPICOS ----------------------------*/
.about_topicos {
    grid-area: topicos;
}

/*lista de tópicos - o que pretendemos fazer*/
.about_topicos>ol {
    margin: 0;
    padding: 0;
    font-size: 2vh;
    list-style-position: inside;
    display: grid;
    row-gap: 0.3vh;
}


/*------------------------- EQUIPA ----------------------------*/
.about_equipa {
    grid-area: equipa;
    margin-top: 6vh;
    margin-bottom: 1vh;
}

/*lista de nomes equipa*/
.about_equipa>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 2vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 0.3vh;
}


.about_disclaimer {
    padding: 0;
    margin: 0;
    font-size: 1.3vh;
    line-height: 1.5vh;
    margin-right: 16px;
    margin-top: 7vh;
}

/*------------------------- LOGOS DE APOIO ----------------------------*/
.about_logos {
    grid-area: logos;
}


.about_logos>img {
    width: 100%;
    height: auto;
}


#close_about {
    right: 0.2vw;
}


/*VERSÃO MOBILE ----------------------------------------------------------------------*/
@media (max-width: 800px) {
    .about_grid_container {
        display: grid;
        grid-template-columns: repeat(8, 0.8fr);
        grid-template-rows: auto 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "about_title about_title about_title . . . . ."
            "text text text text text text text text"
            "text text text text text text text text"
            "text text text text text text text text"
            "text text text text text text text text"
            "topicos topicos topicos topicos topicos topicos topicos topicos"
            "equipa equipa equipa equipa equipa equipa equipa equipa"
            "logos logos logos logos logos logos logos logos";
        padding: 0 18vw 10vh 17vw;
    }

    #close_about {
        right: -2.2vw;
    }

    .about_text {
        font-size: 2vh;
        line-height: 2.2vh;
        display: none;
    }

    .about_equipa>ul {
        grid-template-columns: repeat(1, 1fr);
    }

}