.about {
    right: 100vw;
}

.about_grid_container {
    display: grid;
    grid-template-columns: repeat(8, 0.8fr);
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "about_title about_title about_title about_title . . . ."
        "text text text text . topicos topicos topicos"
        "text text text text . equipa equipa equipa"
        "text text text text . logos logos logos";
    padding: 0 10vw 10vh 7.5vw;
    height: 100%;
    gap: 5px;
    box-sizing: border-box;
}

.about_title {
    grid-area: about_title;
}

.about_subtitle {
    margin-bottom: 1.4vh;
}

.about_text {
    grid-area: text;

    font-size: 2.22vh;
    line-height: 2.8vh;
}

.about_text>p {
    margin: 8px 0px 0px 0px;
}


/*------------------------- TÓPICOS ----------------------------*/
.about_topicos {
    grid-area: topicos;
}

/*lista de tópicos - o que pretendemos fazer*/
.about_topicos>ol {
    margin: 0;
    padding: 0;
    font-size: 2vh;
    list-style-position: inside;
    display: grid;
    row-gap: 0.3vh;
}


/*------------------------- EQUIPA ----------------------------*/
.about_equipa {
    grid-area: equipa;
    margin-top: 6vh;
    margin-bottom: 1vh;
}

/*lista de nomes equipa*/
.about_equipa>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 2vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 0.3vh;
}


.about_disclaimer {
    padding: 0;
    margin: 0;
    font-size: 1.3vh;
    line-height: 1.5vh;
    margin-right: 16px;
    margin-top: 7vh;
}

/*------------------------- LOGOS DE APOIO ----------------------------*/
.about_logos {
    grid-area: logos;
}


.about_logos>img {
    width: 100%;
    height: auto;
}


#close_about {
    right: 0.2vw;
}


/*VERSÃO MOBILE ----------------------------------------------------------------------*/
@media (min-width: 800px) and (max-width: 1010px) {
    .about_grid_container {
        grid-template-columns: repeat(4, 0.7fr) 0.4fr repeat(3, 0.7fr);
        grid-template-areas:
            "about_title about_title about_title about_title . . . ."
            "text text text text . topicos topicos topicos"
            "text text text text . equipa equipa equipa"
            "text text text text . logos logos logos";
        padding: 0 8vw 10vh 7.5vw;
    }

    .about_text {
        font-size: 2vh;
        line-height: 2.6vh;
    }

    .about_equipa {
        margin-top: 4vh;
    }

    .about_equipa>ul,
    .about_topicos>ol {
        font-size: 1.8vh;
    }

    .about_disclaimer {
        margin-top: 5vh;
    }
}

@media (max-width: 800px) {
    .about_grid_container {
        padding: 0 18vw 10vh 15vw;
    }

    .about_text {
        font-size: 2vh;
        line-height: 2.2vh;
        display: none;
    }

    .about_disclaimer {
        display: none;
    }

    .about_logos {
        margin-top: 4vh;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .about_grid_container {
        grid-template-areas:
            "about_title about_title about_title . . . . ."
            "topicos topicos topicos topicos topicos topicos . ."
            "equipa equipa equipa equipa equipa equipa equipa equipa"
            "logos logos logos logos logos . . .";
    }

    .about_equipa>ul {
        grid-template-columns: repeat(2, 0.3fr);
        column-gap: 0px;
        row-gap: 0.3vh;
    }
}

@media (min-width: 525px) and (max-width: 600px) {
    .about_grid_container {
        grid-template-areas:
            "about_title about_title about_title . . . . ."
            "topicos topicos topicos topicos topicos topicos . ."
            "equipa equipa equipa equipa equipa equipa equipa equipa"
            "logos logos logos logos logos logos . .";
    }

    .about_equipa>ul {
        grid-template-columns: repeat(2, 0.4fr);
        column-gap: 0px;
        row-gap: 0.3vh;
    }
}

@media (max-width: 525px) {
    .about_grid_container {
        grid-template-rows: auto 0.5fr 1fr 1fr;
        grid-template-areas:
            "about_title about_title about_title . . . . ."
            "topicos topicos topicos topicos topicos topicos topicos topicos"
            "equipa equipa equipa equipa equipa equipa equipa equipa"
            "logos logos logos logos logos logos logos logos";
        padding: 0 18vw 10vh 17vw;
    }

    .about_equipa>ul {
        grid-template-columns: repeat(1, 1fr);
    }

    #close_about {
        right: -0.25vw;
    }
}