/*------------Este ficheiro apenas diz respeito ao código comum entre o archive e o about------------*/

/*para fechar as páginas*/
.close {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    width: 12vh;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

/*sobre o contentor das páginas*/
.about,
.archive {
    height: 100dvh;
    width: 100vw;

    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #F7F2EA;

    font-weight: 350;
    transition: left 0.9s ease;
}

/*títulos*/
.title {
    font-size: 8.5vh;
    font-weight: 500;
    line-height: 1;
    margin: 10px 0 4vh 0;
    z-index: 10;
}

/*subtítulos*/
.subtitle {
    font-size: 3.5vh;
    font-weight: 600;
    margin-top: 0;
}


/*moldura branca*/
.frame {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 6.5vh solid white;
    top: 0;
    background-color: transparent;
    box-sizing: border-box;
    z-index: -10;
}

/*retângulos que formam o espaço vazio*/
.spaces_container {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 6.5vh 4.5vw repeat(8, 0.8fr) 10vw;
    grid-template-rows: 6.5vh 7vh 1fr 1fr 1fr 1fr 7vh 6.5vh;
    pointer-events: none;
}


@media (max-width: 800px) {
    .title {
        font-size: 7vh;
    }

    .subtitle {
        font-size: 2.8vh;
    }

    .frame {
        border: 5vh solid white;
    }

    .close {
        width: 11vh;
    }
}