.archive {
    left: 100vw;
}

.archive_grid_container {
    display: grid;
    grid-template-columns: 0.8fr 0.4fr repeat(6, 0.8fr);
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "archive_title archive_title archive_title archive_title . . . ."
        "police_brief police_brief articles articles articles . . ."
        "reports reports articles articles articles . . ."
        "reports reports articles articles articles . . ."
        ". . . . . . . ."
        ". . . . . . . .";
    padding: 0 7.5vw 10vh 10vw;
    height: 100%;
    gap: 5px;
    box-sizing: border-box;
}

.archive_title {
    grid-area: archive_title;
}

.archive_subtitle {
    margin-bottom: 0.4vh;
}

/*------------------------- RELATÓRIOS/ARTIGOS/OUTROS----------------------------*/
.archive_police_brief {
    grid-area: police_brief;
}

.archive_reports {
    grid-area: reports;
    margin-top: 0.8vh;
    /*para que fique verticalmente alinhado com os artigos*/
}

.archive_articles {
    grid-area: articles;
}

.archive_police_brief>ul,
.archive_reports>ul,
.archive_articles>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 2vh;
    line-height: 4vh;
}

.archive_police_brief>ul>li>a,
.archive_reports>ul>li>a,
.archive_articles>ul>li>a {
    color: black;
    text-decoration: underline;
    margin-bottom: 10px;
}

#close_archive {
    left: 0.2vw;
}

/*VERSÃO RESPONSIVA ----------------------------------------------------------------------*/
@media (min-width: 800px) and (max-width: 1000px) {
    .archive_grid_container {
        grid-template-columns: 0.8fr 1fr repeat(6, 0.8fr);
        padding: 0 7.5vw 10vh 13vw;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .archive_grid_container {
        grid-template-columns: 0.8fr 1.6fr repeat(6, 0.8fr);
        padding: 0 7.5vw 10vh 15vw;
    }
}

@media (max-width: 600px) {
    .archive_grid_container {
        display: grid;
        grid-template-columns: repeat(8, 0.8fr);
        grid-template-rows: auto 0.5fr 1fr 1fr;
        grid-template-areas:
            "archive_title archive_title archive_title . . . . ."
            ". police_brief police_brief police_brief police_brief . . ."
            ". reports reports reports reports reports reports reports"
            ". articles articles articles articles articles articles articles";
        padding: 0 13vw 10vh 16vw;
    }

    #close_archive {
        left: -1vw;
    }

}