.archive {
    left: 100vw;
}

.archive_grid_container {
    display: grid;
    grid-template-columns: repeat(8, 0.8fr);
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "archive_title archive_title archive_title archive_title . . . ."
        "police_brief police_brief reports reports  articles articles . ."
        "police_brief police_brief reports reports  articles articles . ."
        "police_brief police_brief reports reports  articles articles . .";
    padding: 0 7.5vw 10vh 10vw;
    height: 100%;
    gap: 5px;
    box-sizing: border-box;
}

.archive_title {
    grid-area: archive_title;
}


/*------------------------- RELATÓRIOS/ARTIGOS/OUTROS----------------------------*/
.archive_police_brief {
    grid-area: police_brief;
}

.archive_reports {
    grid-area: reports;
}

.archive_articles {
    grid-area: articles;
}

.archive_police_brief>ul,
.archive_reports>ul,
.archive_articles>ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 2vh;
    line-height: 4vh;
}

.archive_police_brief>ul>li>a,
.archive_reports>ul>li>a,
.archive_articles>ul>li>a{
    color: black;
    text-decoration: underline;
}

#close_archive {
    left: 0.2vw;
}