/*permite ativar o snap scroll dentro do storytelling*/
html.snap-mode {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/*contentor geral da secção atlas*/
.atlas {
    position: absolute;
    top: 101vh;
    display: grid;
    width: 100%;
    min-height: 500vh;

    grid-template-columns: repeat(8, 0.8fr);
    grid-template-rows: repeat(4, 100vh);
    padding: 0vh 6vw 5vh 6vw;
    gap: 5px;

    box-sizing: border-box;
}

.mobile_disclaimer {
    display: none;
}

/*----------------------------------MAP-----------------------------*/
.atlas_grid_container {
    grid-column: 5 / 9;
    grid-row: 1 / 5;

    display: grid;
    grid-template-columns: repeat(4, 0.8fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;


    position: sticky;
    top: 5vh;

    width: 100%;
    height: 90vh;
}

.draw_atlas {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    justify-self: end;
}

.mapa_svg {
    width: auto;
    height: 100%;
    display: block;
}


/*----------------------------------LEGEND-----------------------------*/
.legend_container {
    grid-column: 4;
    grid-row: 3/5;
    align-self: start;
    justify-self: start;

    display: flex;
    flex-direction: column;
    gap: 8px;

    z-index: 30;
}

.legend_title {
    font-size: 2.2vh;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1vh;
}

/*conjunto de bloco de cor + label*/
.legend_item {
    display: flex;
    align-items: center;
    gap: 1.5vh;
    opacity: 1;
    cursor: pointer;
}

/*estes são os quadrados de cores dos mapas*/
.legend_texture {
    width: 2.7vh;
    height: 2.7vh;
    flex-shrink: 0;
}

/*texto da legenda*/
.legend_label {
    font-size: 1.8vh;
    font-family: "Crimson", serif;
    font-weight: 500;
}

.legend_info {
    cursor: pointer;
}

.legend_info:hover {
    color: #FFD700;
}

.legend_disclaimer {
    display: none;
    grid-column: 4;
    grid-row: 2;
    align-self: end;
    justify-self: start;

    padding: 0;
    margin: 0;
    font-size: 1.7vh;
    line-height: 2vh;
}

/*---------------------------------STEPS--------------------------------*/
/*ocupa a grelha do atlas toda*/
.steps-container {
    position: relative;
    grid-column: 1 / 9;
    grid-row: 1 / 5;
}

.step {
    position: relative;
    height: 100vh;
    color: black;
    display: grid;

    grid-template-columns: repeat(8, 0.8fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

/*determina que step está a aparecer no momento*/
.step.is-active {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.step_title {
    font-size: 4.5vh;
    line-height: 5vh;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1.4vh;
    grid-column: 1 / 4;
    grid-row: 1;
    align-self: self-end;
    transform: translateY(10px);
}

.step_subtitle {
    font-family: "Crimson", serif;
    font-style: italic;
    font-size: 3vh;
    font-weight: 400;
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    align-self: self-start;
    transform: translateY(10px);
}

.step_text {
    font-size: 2vh;
    line-height: 2.3vh;
    transform: translateY(20px);
}

.step_title,
.step_subtitle,
.step_text {
    opacity: 0;
    transition:
        opacity .8s ease-out,
        transform .8s ease-out;
}

.text-visible {
    opacity: 1;
    transform: translateY(0);
}


#step_text_1 {
    grid-column: 4;
    grid-row: 2;
}

#step_text_2 {
    grid-column: 1/3;
    grid-row: 4;
}

#step_text_3 {
    grid-column: 2/3;
    grid-row: 3;
}

#step_text_4 {
    grid-column: 3/5;
    grid-row: 4;
}

#step_text_5 {
    grid-column: 4/5;
    grid-row: 2;
}

/*----------------------------------DOWNLOAD-----------------------------*/
.download_container {
    grid-column: 8 / 9;
    grid-row: 1 / 5;
    position: sticky;
    width: 100%;
    height: 90vh;
    top: 5vh;
    pointer-events: none;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.download {
    grid-row: 4;
    align-self: end;
    margin: 0;

    font-size: 1.8vh;
    font-weight: 500;
    cursor: pointer;
    pointer-events: auto;
}

.download:hover {
    color: #FFD700;
}


/*VERSÃO MOBILE ----------------------------------------------------------------------*/
@media (max-width: 800px) {

    .atlas {
        min-height: 100vh;
        display: block;
        padding: 0vh 10vw 5vh 10vw;
    }

    .mobile_disclaimer {
        font-size: 2.22vh;
        line-height: 2.8vh;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .mobile_disclaimer>h2{        
        margin-top: 20vh;
    }

    .mobile_disclaimer>p {
        width: 65vw;
        margin: 0;
    }

    /*logotipo no footer*/
    .mobile_disclaimer>img {
        width: 100%;
        height: auto;
        margin-top: auto;
    }

    .steps-container {
        display: none;
    }

    .atlas_grid_container {
        display: none;
    }

    .download_container {
        display: none;
    }
}