@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    -ms-overflow-style: none;
    /* IE and Edge */
    overflow-x: hidden;
    background-color: #F7F2EA;
}

/*esconde as barras de scroll no Chrome, Safari and Opera*/
body::-webkit-scrollbar {
    display: none;
}

main {
    width: 100vw;
}

/*comum a todas as secções/containers*/
.container {
    width: 100%;
    position: relative;
}


/*comum à homepage -> secções de landing_page, atlas, toolkit e zpu*/
.homepage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;

    left: 0;
    transition: all 0.9s ease;/*transicao para deslocar landing page*/
}

.landing_page,
.atlas,
.toolkit,
.zpu {
    height: 100dvh;
    width: 100vw;
}

/*atlas*/
.atlas {
    background-color: aqua;
}

/*toolkit*/
.toolkit {
    background-color: white;
}

/*zpu*/
.zpu {
    background-color: yellow;
}
