.about {
    height: 100dvh;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #FDF7EE;
    right: 100%;
}

.about>div {
    width: 94vw;
    height: 88vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 6vw;
    padding-top: 12vh;
}


/*------------------------- SOBRE ----------------------------*/
.about_title {
    font-size: 5.5vw;
    margin: 0;
    font-weight: 500;
    line-height: 1;
}

.about_text {
    overflow-y: auto;
    width: 57%;
    height: 21vh;
    font-size: 1.2vw;
    line-height: 160%;
    position: relative;
    margin-top: 4vh;
    margin-bottom: 15vh;
}

.about_text>p {
    margin: 0;
    margin-right: 2vw;
}

/*esconde as barras de scroll no Chrome, Safari and Opera*/
body::-webkit-scrollbar {
    display: none;
}

/*------------------------- EQUIPA ----------------------------*/
.about_subtitle {
    font-weight: 600;
    margin-top: 0;
}

.about_equipa {
    width: 70%;
}


/*lista de nomes equipa*/
.about_equipa>ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 1vh;
    column-gap: -1vw;
    font-size: 1.2vw;
}


#close_about {
    position: absolute;
    cursor: pointer;
    writing-mode: vertical-lr;
    z-index: 10;
    top: 50%;
    right: 0;
    transform: translateY(-50%) scale(-1, -1);
    margin-right: 60px;
}