.about {
    height: 100dvh;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #FDF7EE;
    right: 100%;
}

.about>div {
    width: 94vw;
    height: 82vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 6vw;
    padding-top: 10vh;
    padding-bottom: 8vh;
}


/*------------------------- SOBRE ----------------------------*/
.about_title {
    font-size: 5.5vw;
    margin: 0;
    font-weight: 500;
    line-height: 1;
}

.about_text {
    width: 55.5vw;
    height: 16vh;
    overflow-y: hidden;
    font-size: 1.2vw;
    line-height: 160%;
    position: relative;
    margin-top: 4vh;
}

.about_text>p {
    margin: 0;
    margin-right: 2vw;
}

.show {
    display: block;
    margin: 0;
    margin-top: 2.5vh;
    font-size: 1.1vw;
    font-weight: 600;
    cursor: pointer;
}

#more{
    display: block;
}

#less{
    display: none;
}

/*esconde as barras de scroll no Chrome, Safari and Opera*/
.about_text::-webkit-scrollbar {
    background-color: #FDF7EE;
    width: 7px;
}

.about_text::-webkit-scrollbar-thumb {
    background: black;
}

.about_text::-webkit-scrollbar-track {
  background-color:  #E7E1D5; 
}

/*------------------------- EQUIPA ----------------------------*/
.about_equipa {
    width: 70%;
    position: absolute;
    top: 63vh;
}

.about_subtitle {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2vh;
}

/*lista de nomes equipa*/
.about_equipa>ul {
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 1vh;
    column-gap: -1vw;
    font-size: 1.2vw;
}


/*------------------------- LOGOS DE APOIO ----------------------------*/
.about_logos{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.about_logos>img{
    height: 30px;
    width: auto;
}

#close_about {
    position: absolute;
    cursor: pointer;
    writing-mode: vertical-lr;
    z-index: 10;
    top: 50%;
    right: 0;
    transform: translateY(-50%) scale(-1, -1);
    margin-right: 60px;
}