@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    -ms-overflow-style: none;
    /* IE and Edge */
    overflow-x: hidden;
}

/*esconde as barras de scroll no Chrome, Safari and Opera*/
body::-webkit-scrollbar {
    display: none;
}

main {
    width: 100vw;
}

/*comum a todas as secções/contentainers*/
.container {
    width: 100%;
    position: relative;
}
