html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;    
    font-family: Arial, sans-serif;
    -ms-overflow-style: none;/* IE and Edge */
}

/*esconde as barras de scroll no Chrome, Safari and Opera*/
body::-webkit-scrollbar {
    display: none;
}

main {
    width: 100vw;
}

.container {
    width: 100vw;
    position: relative;
}

/*afeta apenas SOBRE e ARQUIVO*/
.about,
.archive {
    height: 100dvh;
    position: absolute;
    top: 0;
}

/*pagina esquerda - SOBRE*/
.about {
    background-color: pink;
    right: 100vw;
}

/*pagina direita - ARQUIVO*/
.archive {
    background-color: lightgreen;
    left: 100%;
}

/*pagina baixo - CONTEÚDO*/
.content {
    background-color: rgb(144, 196, 238);
    height: 300dvh;
}

.content>div {
    height: 100dvh;
    width: 100%;
}

/*atlas*/
#atlas {
    background-color: aqua;
}

/*toolkit*/
#toolkit {
    background-color: white;
}

/*zpu*/
#zpu {
    background-color: yellow;
}